body{
font-family:Arial;
margin:0;
text-align:center;
background:#87CEEB;
}

.title{
font-size:80px;
margin-top:40px;
color:#1565c0;
}

/* SKY */
.sky3d{
position:fixed;
width:100%;
height:100%;
z-index:-1;
background:linear-gradient(#6ec6ff,#dff5ff);
}

.sun{
position:absolute;
top:70px;
right:120px;
width:120px;
height:120px;
border-radius:50%;
background:radial-gradient(circle,#fff700,#ffb300);
}

.cloud{
position:absolute;
left:-300px;
width:200px;
height:60px;
background:white;
border-radius:50px;
box-shadow:60px 10px white,120px 15px white,30px -10px white;
animation:cloud 60s linear infinite;
}

@keyframes cloud{
0%{left:-300px}
100%{left:120%}
}

.bird{
position:absolute;
left:-100px;
font-size:30px;
animation:fly 40s linear infinite;
}

.bird1{top:200px;}
.bird2{top:350px;}

@keyframes fly{
0%{transform:translateX(0)}
100%{transform:translateX(150vw)}
}

.card{
background:#2f3e46;
padding:40px;
border-radius:20px;
width:300px;
margin:100px auto;
color:white;
}

input{
padding:10px;
width:90%;
border-radius:10px;
border:none;
}

button{
padding:10px 20px;
margin-top:10px;
border:none;
border-radius:8px;
background:#2196f3;
color:white;
cursor:pointer;
}

.descPage{margin-top:80px;}

.topics{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
width:600px;
margin:40px auto;
}

.topic{
background:white;
padding:40px;
font-size:24px;
border-radius:15px;
cursor:pointer;
}

.topic:hover{background:#bbdefb;}
.done{background:#4caf50;color:white;}

.quiz{margin-top:60px;}

.answers{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
width:400px;
margin:auto;
}

.answerBtn{
background:white;
padding:15px;
border-radius:10px;
cursor:pointer;
}

.answerBtn:hover{background:#bbdefb;}

.resultBox{margin-top:80px;}

.hidden{display:none;}

/* CENTER LOGIN BOX FIX */
.card{
width:500px;
padding:60px;
margin-top:0;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%, -50%);
text-align:center;
}

/* TITLE SA LOOB */
.card h2{
font-size:30px;
margin-bottom:20px;
}

/* INPUT (NAME) */
.card input{
width:100%;
padding:18px;
font-size:18px;
border-radius:12px;
margin-bottom:20px;
}

/* BUTTON */
.card button{
width:100%;
padding:15px;
font-size:18px;
border-radius:12px;
background:#2196f3;
}

/* TITLE (MIND LOGIC) */
.title{
font-size:90px;
margin-top:40px;
}

/* PARA DI MAG OVERLAP */
body{
overflow-x:hidden;
}
